@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

table{
    box-shadow: none !important;
    border: 1px solid #eee !important;
    padding: 20px !important;
}

.mat-mdc-row{
    height: 30px !important;
}
.mat-mdc-row:nth-child(odd){
    background-color: #F7F6FE !important;
}

.mat-mdc-row:nth-child(even){
    background-color: #eee !important;
}

.mat-mdc-header-row{
    height: 30px !important;
    background: #26264f !important;
}

.mat-mdc-header-cell{
    font-weight: 700 !important;
    color: #fff !important;
}

.mat-mdc-cell:nth-child(1){
    width: 20px !important;
}
 .mat-mdc-card{
    padding: 12px !important;
    margin: 12px !important;
 }

 .mat-mdc-text-field-wrapper{
    height: 50px !important;
 }
